
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
	clr1:rgb(21,12,104);
	clr2:rgb(236,68,90);
	clr3:#fff;
	clr4:#000;
	clr5:lightgray;
	clr6:yellow;
	}
	.
	{
		
		margin:0;
		padding:0;
		box-sizing:border-box;
		text-decoration:none;
		text-transform:capitalize;
		font-family: 'PT Sans', sans-serif;
		border:none;
	}
	
	html{
		font-size:56%;
		overflow-x:hidden;
		scroll-behavior:smooth;
		
	}
	html::-webkit-scrollbar {
		width: 10px;
	}
	
	html::-webkit-scrollbar-thumb {
		background: red;
	
	}
	
	html::-webkit-scrollbar-track {
		background: black;
	}
	.head .SearchBox {
		height: 5rem;
		display: flex;
	}
	
	.head #Search {
		height: 100%;
		width: 100%;
		font-size: 2rem;
		color: gray;
		padding: 1rem;
		border: 0.1rem soild black;
		text-transform: none;
	}
	
	.head .SearchBox label {
		font-size: 2.5rem;
		color: whitesmoke;
		height: 100%;
		width: 8rem;
		line-height: 5rem;
		background: red;
		text-align: center;
		cursor: pointer;
	}
	section{
		padding:7rem 9%;
		margin-top:7rem;
	}

	.btn2{
		margin-top:2rem;
		padding:1.3rem 4rem;
		font-size:1.5rem;
		text-transform: capitalize;
		letter-spacing: .1rem;
		font-weight: 600;
		background-color: red;
		box-shadow: rgba(0,0,0,0.4);
		transition: all 0.3s ease all;
		cursor: pointer;
		outline:none;
		color:#fff;
	}
	#btn10 {
		
		background-color: rgb(210, 10, 190);
		box-shadow: rgba(0,0,0,0.4);
		transition: all 0.3s ease all;
		cursor: pointer;
		outline:none;
		color:#fff;
		font-size: 1.2rem;
		
	}
	#btn11 {
		
		background-color: rgb(221, 128, 185);
		box-shadow: rgba(0,0,0,0.4);
		transition: all 0.3s ease all;
		cursor: pointer;
		outline:none;
		color:#fff;
		font-size: 1.2rem;
		
	}
	#btn12 {
		
		background-color: rgb(42, 29, 26);
		box-shadow: rgba(0,0,0,0.4);
		transition: all 0.3s ease all;
		cursor: pointer;
		outline:none;
		color:#fff;
		font-size: 1.2rem;
		
	}
	#btn13 {
		
		background-color: rgb(164, 152, 13);
		box-shadow: rgba(0,0,0,0.4);
		transition: all 0.3s ease all;
		cursor: pointer;
		outline:none;
		color:#fff;
		font-size: 1.2rem;
		
	}
	#btn14 {
		
		background-color: rgb(168, 30, 94);
		box-shadow: rgba(0,0,0,0.4);
		transition: all 0.3s ease all;
		cursor: pointer;
		outline:none;
		color:#fff;
		font-size: 1.2rem;
		
	}
	#btn15 {
		
		background-color: rgb(212, 17, 26);
		box-shadow: rgba(0,0,0,0.4);
		transition: all 0.3s ease all;
		cursor: pointer;
		outline:none;
		color:#fff;
		font-size: 1.2rem;
		
	}
	#btn16 {
		
		background-color: rgb(231, 57, 66);
		box-shadow: rgba(0,0,0,0.4);
		transition: all 0.3s ease all;
		cursor: pointer;
		outline:none;
		color:#fff;
		font-size: 1.2rem;
		
	}
	#btn17 {
		
		background-color: rgb(124, 20, 127);
		box-shadow: rgba(0,0,0,0.4);
		transition: all 0.3s ease all;
		cursor: pointer;
		outline:none;
		color:#fff;
		font-size: 1.2rem;
		
	}
	#btn18 {
		
		background-color: rgb(219, 170, 36);
		box-shadow: rgba(0,0,0,0.4);
		transition: all 0.3s ease all;
		cursor: pointer;
		outline:none;
		color:#fff;
		font-size: 1.2rem;
		
	}
	#btn19 {
		
		background-color: rgb(105, 202, 121);
		box-shadow: rgba(0,0,0,0.4);
		transition: all 0.3s ease all;
		cursor: pointer;
		outline:none;
		color:#fff;
		font-size: 1.2rem;
		
	}
	#btn20 {
		
		background-color: rgb(166, 13, 21);
		box-shadow: rgba(0,0,0,0.4);
		transition: all 0.3s ease all;
		cursor: pointer;
		outline:none;
		color:#fff;
		font-size: 1.2rem;
		
	}
	#btn21 {
		
		background-color: rgb(204, 75, 174);
		box-shadow: rgba(0,0,0,0.4);
		transition: all 0.3s ease all;
		cursor: pointer;
		outline:none;
		color:#fff;
		font-size: 1.2rem;
		
	}


	.btn2:hover
	{
		transform: translateY(-1rem);
		transition: all .5s ease;
		
	}
.title
{text-align: center;
font-size: 2.5rem;
letter-spacing: .2rem;
}
.title span{
	color: red;
	font-size: 4rem;
}
.title p{
	font-size: 1.8rem;
	font-size: 600;
	color: red;
}

	/* -----header------*/
	.head {
		background: #de87c4;
	padding: 2rem 9%;
	display: flex;
	justify-content: space-between;
	align-items: center;
		
	}

	.fa-heart
	{
		color:red;
		
	}

.head .logo
{font-size:2.5rem;
color:blue;
font-weight:600;
letter-spacing:0rem;
}

.span {
	color:lightgray;
}
* {
	font-family: "arial"
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	transition: 0.2s all linear;
}


.MainHeader {
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 9%;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
	position: relative;
}

.MainHeader .navbar a {
	font-size: 2rem;
	padding: 0.5rem 1.5rem;
	color: brown;
	border-radius: o.5rem;
}

.MainHeader .navbar a:hover {
	background: red;
	color: gray ;
}
#menubtn {
	font-size: 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	color: brown;
	border: 0.1rem solid brown;
	display: none;
}

.MainHeader .icons i {
	color: blueviolet;
	font-size: 2.5rem;
	padding-left: 1rem;
}

.MainHeader .icons i:hover {
	color: red;
	cursor: pointer;

}
.home {
	background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(255,0,0,0.4)),url(images/sadi.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	justify-content:center;
	align-items:center;
	height:80vh;
}

.search-box 
{
	margin:20rem 0 0 0;
	color:#fff;
	text-align:center;
	
}

.search-box h1{
	font-size:7.5rem;
	text-transform:capitalize;
	font-weight:600;
	letter-spacing:1rem;
    text-align:center;
}
.search-box p{
	font-size:2rem;
	margin:5rem;
}

.search-field{
	width:25rem;
	height:4.5rem;
	font-size:1.5rem;
	font-weight:600;
	color:red;
}
/*-----Services-----*/

.services-row
{display:flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;}

.services-col
{height:25rem;
color:black;
background:url("images/I.jpg");
background-color: lightgrey;
background-position: center;
background-size: cover;
border-radius: 15px;
flex: 1 1 25px; 
padding: 7rem;
margin: 1.5rem;
}
.services-col i
{
	padding: 2.2rem;
	border:none;
	background:aliceblue;
	color: red;
	border-radius: 5rem;
	font-size:3rem;
}
.services-col h2{
	padding: 1rem 0;
	font-size:2rem;
	color:red;
}

/*------------vender-----------*/
.vendor-list
{
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
}
.vendor .vendor-row
{max-width: 1300;
background:rgb(245,236,245);
height: 35rem;
width: 20rem;
flex: 1 1 30rem;
padding: 1.2rem;
margin: 1.5rem;
border-radius: 1rem;
box-shadow: 0.2rem .5rem purple;
}
.vendor-row:hover{
	transform: rotate(5deg);
	transition: 1s cubic-bezier(0.075,0.82,0.165,1);
}
.vendor-row .rate
{
	width: 6rem;
	padding: 1rem .1rem;
	color: black;
	background:red;
	font-size: 1.6rem;
	font-weight: 400;
}
.vendor .vendor-row img{
	height: 20rem;
	width: 100%;
	object-fit:cover;
	
}
.vendor-row h2{
	font-size: 2rem;
	font-weight: 400;
}
.vendor-row p{
	font-size: 1.2rem;
	font-weight: 600;
	color:black;
}
.vendor-row h3{
	font-size: 2rem;
	text-align: center;
	color:red;
	background:black;
}
.title h1{
	color: red;
}
/*---------------venue----------*/
.venue .venue-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	
}
.venue .venue-list .venue-box
{
	flex: 1 1 50rem;
	margin: 1rem;
	position: relative;
	border-radius: .6rem;
	overflow: hidden;
	height: 25rem;
}
.venue .venue.list .venue-box img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.venue .venue-list .venue-box .venue-info
{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	color:black;
	background: rgba(46,39,40,0.5);
	transform: scale(1.3);
	opacity: 0;
	transition: 1s ease;
}
.venue .venue-list .venue-box:hover .venue-info
{
	transform: scale(1);
	opacity: 1;
}
.venue .venue-list .venue-box .venue-info h2{
	font-size: 5rem;
	letter-spacing: .1rem;
	
}
.venue .venue-list .venue-box .venue-info p{
	font-size:2rem;
	letter-spacing: .1rem;
	color:rgb(46, 40, 209);
	
}
/*-------------e-invitation section--------------*/

.invite .invitation-row
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	
}
.btn-sh {
	flex: 1 1 25rem;
	margin: 0.5rem;
	position: relative;
	border: .2rem dotted red;
	padding: 1rem;
	border-radius: .6rem;

	height: 9rem;
}
.invite .invitation-row .box {
	border: .2rem dotted rgb(158, 200, 169);
	height: 35rem;
	width: 40rem;
}
#btn {
   align-items: center;
}
.invite .invitation-row .invitation-box
{
	flex: 1 1 25rem;
	margin: 1rem;
	position: relative;
	border: .2rem dotted red;
	padding: 2rem;
	border-radius: .6rem;
	overflow: hidden;
	height: 20rem;
}
.invite .invitation-row .invitation-box:hover {
	transform: translateY(-2rem);
	transition: .5s esse;
	
}
.invite .invitation-row .invitation-box img {
	height: 100%;
	width: 100%;
	object-fit: cover;	
}
.title p{
	color: black;
}

/*----------------menubar--------------------*/
.navbar{
	background-color:blueviolet;
	font-size: 30px;
}
.nav-link{
	background-color: white;
	font-size: 20px;
	font-family: Algerian;	
	text-shadow: 2px 2px blueviolet;
}
.nav-link:hover{
background:red;
}
 /*<!----contact us-->*/
 

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 40px;
  width: 270px; 
}
.card img {
	height: 280px;
	width: 270px;
	
}
.card-body{
	width: 300px ;
	height: 150px;
	padding-left: 400px;
	padding: 5px;
	font-size: 12px;
}
.card-title{
	font-size: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color:black;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}



.btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
}

.btn:hover {
  background-color: #555;
}

.about-section{
	font-size: 20px;
}
.col{
	padding: 5px;
	background-color:rgb(85, 220, 227);   
}

.a{
	font-size: 40px;
	text-align: center;
}
/*<!---footer---->*/
.card-text-center{
	text-align: center;
	background-color:#de87c4;
	font-size: 30px;
}
.card-title1{
	font-size: 30px;
}
@media (max-width: 1200px) {
	html{
		font-size: 55%;
	}	
}

@media (max-width :991px) {
section {
	padding: 2rem;
}
.header .MainHeader {
	padding: 2rem;
}
}
@media (max-width:768px) {
	#MenuBtn {
		display: inline;
	}
	
	.MainHeader .navbar{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: blueviolet;
		padding: 1rem 2rem;
	}

	@media (max-width:768px) {
		#MenuBtn {
			display: inline;
		}
		
		.MainHeader .navbar{
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			background: blueviolet;
			padding: 1rem 2rem;
		}
		.MainHeader .navbar a {
			display: block;
			font-size: 2.5rem;
			text-align: center;
			background: white;
			margin: 1.5rem 0;
			padding: 0;
		}
		.home .content {
			text-align: center;
		}
		.home .content h3 {
			font-size: 3rem;
		}
		.deal {
			background-position: left;
		}
		.deal .Counter {
			max-width: 100%;
			text-align: center;
		}
		.deal .content .Counter {
			justify-content: center;
		}
		.content .inputBox input {
			width: 100%;
		}
	}
	@media (max-width: 460px) {
		html {
	
			font-size: 3rem;
		}
		.header .SearchBox {
			width: 100%;
			margin-top: 2rem;
		}
	}
		
	